<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.css">
	<style type="text/css">
		body {
			padding-top: 40px;
		}
	</style>
</head>
<body>
	<div id='app' class="container">
		<message title="Lorem Ipsum">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eu placerat neque. Nullam ultricies, eros maximus consequat dignissim, diam tortor euismod ligula, nec laoreet sapien tellus at ante. Maecenas sit amet turpis eu felis vestibulum scelerisque. Donec lectus justo, lacinia et neque ut, commodo efficitur mi. Duis vel rutrum odio. Ut metus enim, finibus eget ullamcorper ac, venenatis quis diam. Maecenas ornare vehicula egestas. Curabitur at sem quam. Donec sed lectus consectetur, aliquam dolor ac, tempor purus. Phasellus non blandit elit, non porta orci. Morbi iaculis diam ligula, non euismod nibh sollicitudin ut. Donec non varius turpis.
		</message>
		<message title="Lorem Ipsum 2">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eu placerat neque. Nullam ultricies, eros maximus consequat dignissim, diam tortor euismod ligula, nec laoreet sapien tellus at ante. Maecenas sit amet turpis eu felis vestibulum scelerisque. Donec lectus justo
		</message>
	</div>


	<script src="https://unpkg.com/vue"></script>
	<script type="text/javascript">

	</script>
	<script src="message.js"></script>
</body>
</html>