<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.css">
	<style type="text/css">

	</style>
</head>
<body>

	<div id="app">
		<section class="hero is-success is-fullheight">
  			<div class="hero-body">
    			<div class="container has-text-centered">
      				<h1 class="title">
        				BinaryDecimal
      				</h1>
      				<div class="field is-half">
      					<div class="control">
      						<input type="text" class="input" id="decimal" v-model="decimal" placeholder="Decimal">
      					</div>
      				</div>

      				<div class="field is-half">
      					<div class="control">
      						<input type="text" class="input" placeholder="Binary" id="binary" v-model="binary">
      					</div>
      				</div>
      				
    			</div>
  			</div>
		</section>
	</div>
	<script src="https://unpkg.com/vue"></script>

	<script src="index.js"></script>
</body>
</html>